*{
    font-family: 'Montserrat', sans-serif;
    color: #fbf5ef;
}
body{
    background-color: #1f102a;
}

h1{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.5em;
}

canvas{
    border-radius: 20px;
}

.cElem{
    display: flex;
    justify-content: center;
}

.cInforme{
    width: 80vw;
    background-color: #390947;
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
    padding: 20px;
    padding-left: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.iInforme{
    margin-top: 20px;
    background-color: #390947;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;

    display: flex;
    flex-direction: column;
}

.imgInforme{
    margin-top: 50px;
    max-width: 450px;
    max-height: 450px;
    border-radius: 20px;
    border: 7px solid #1f102a;
}

.container {
    position: relative;
}
 
#gCanvasText {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
 
}


#gCanvasText{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
 
}

.CanvasPause{
    background-color: rgba(0,0,0,.5);
}
